@charset "utf-8";
/* CSS Document */

body{
background-image:url(../images/bag_last.jpg);
background-repeat:repeat-x;
width:100%;
height:100%;
margin:auto;	
font-family:"OpenSans Regular";
}

a{
text-decoration:none;	
color:#03F;
}


.btn_main_box{
	width:100%;
	height:30px;
	clear:both;
	//background-color:#000;
	padding-top:6.7%;
	
}
.btn_main_menu{
	
	width:30px;
	height:3opx;
	padding-left:85%;
	//background-color:#0C3;
	clear:both;
}
.img_cnt{}
/*sorce From w3school for dropdown*/
.btn_dispmsg {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
	text-decoration:none;
}

.img_cnt:hover .btn_dispmsg {
    display: block;
	
}
.name_block
{
	padding-top:8.8%;
	//padding-left:57.2%;
	width:100%;
	height:10%;
	clear:both;
	//background-color:#66C;	
	font-family:"Courier New", Courier, monospace;
	font-size:36px;
}
.name_blocksb{
	width:auto;
	height:10%;
	padding-left:70%;
}
.quote_bock{
	width:100%;
	height:10%;
	//padding-left:50%;
	clear:both;
	padding-top:1%;
}
.quote_blocksub{
	width:auto;
	height:10%;
	padding-left:60%;
	font-family:"Comic Sans MS", cursive;
	font-size:36px;
	color:#F00;
}
.monitor_box{
	width:100%;
	height:auto;
	position:absolute;
	//background-color:#333;
bottom:0;
clear:both;	
}

.social
{
position:fixed;
width:40%;
height:10%;
//background-color:#000;
right:4px;
bottom:50px;
color:white;
}

.monitor_show{
	
	position:static;
	width:43.7%;
	height:22.8%;
	margin-left:55px;
	margin-top:50px;
	bottom:0;
background-color:#FFF;
}

.about_main{
	width:50%;
	height:auto;
	background-color:#FFF;
	margin-left:25%;
}
